<footer class="w-full min-h-fit-content bg-gray-200 border-t border-gray-400 flex justify-center py-6">
    <div class="container flex flex-col gap-4">
        <div class="flex flex-row gap-1">
            <div class="w-1/2 px-4 flex flex-col">
                <a href="./index.html#">Home</a>
                <a href="./search.html">Procurar</a>
                <a href="./signup.html">Registar</a>
                <a href="./signin.html">Entrar</a>
                <a href="./profile.html">Perfil</a>
                <a href="./create-post.html">Anunciar</a>
                <a href="./terms.html">Termos e Condições</a>
            </div>
            <div class="w-1/2 px-4"></div>
        </div>
        <div class="flex flex-col">
            <p class="text-center">☕️ Made with Coffee by</p>
            <p class="text-center">
                &copy;
                <a href="https://github.com/diogocastrodev" target="_blank" class="text-blue-400 hover:text-blue-500">
                    Diogo Castro
                </a>
                30569 ERSC
            </p>
            <a href="https://github.com/diogocastrodev/college-PW/blob/master/projeto" target="_blank"
                class="text-center" id="footer-year">PW - 2024</a>
        </div>
    </div>
</footer>